body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    background: #F09819;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EDDE5D, #F09819);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;

}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;

    background: #F09819;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EDDE5D, #fdb34c, #a7802c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EDDE5D, #ffb854, #a17a25);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    background: #F09819;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EDDE5D, #fdb34c, #a7802c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EDDE5D, #ffb854, #a17a25);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h3 {
    padding-top: 15px;
    padding-bottom: 7px;
}

p {
    padding: 5px;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.navbar-brand {

    padding: 0%;
}

.nav-item {
    color: black;
    font-weight: 700;
}

.nav-links {
    font-family: "Ubuntu", sans-serif;
    font-size: larger;
}

.topText {
    margin-top: 10%;
    margin-left: 0;

    font-family: 'Black Ops One', cursive;
    font-size: larger;
    font-weight: 700;
    color: #8d6c26;
    /* padding: 7px 0; */


}

#carousel {
    border: black;
    border-style: solid;
    border-width: 7px;
}

.service {
    background-color: #fcfdc9;
    padding: 0 1rem 1.5rem;
}

.parent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.parent * {
    padding: 10px;
}

#whyus {

    background-color: #fcfdc9;
}

.WUtxt {
    padding: 1.5rem 1rem;
}

.footImg {

    padding: 5%;
    color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);

    background-attachment: fixed;
    transition: background-color 0.5s ease;
    color: goldenrod;
    font-size: 1rem;
    /* font-family: 'Montserrat',sans-serif; */
    font-weight: 400;

}

.contactDetails {
    padding: 0 1rem;
    font-size: small;

}

.copyright {
    text-align: right;
    font-weight: 200;
    font-size: smaller;
}
/* services page */
.Certification{
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem ;
    padding-left: 1rem;
    
}